
form {
    width: 50%;
    margin: auto;
}
legend{
    font-size: 30px;
    text-align: center;
}
fieldset{
    background-color: rgba(40, 37, 37, 0.255);
}
label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
input:hover,select:hover{
    background-color: rgba(27, 143, 231, 0.1);
}
.radio-group {
    display: flex;
    gap: 20px;
    margin-top: 5px;
}
input[type="radio"] {
    width: auto;
}
input[type="submit"]{
    background-color: rgba(27, 143, 231, 0.8);
}
input[type="reset"]{
    background-color: rgba(231, 27, 27, 0.8);
}
input[type="submit"]:hover{
    background-color: rgb(14, 86, 141);
}
input[type="reset"]:hover{
    background-color: rgb(231, 27, 27)
}